@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Aileron.otf") format("opentype");
}
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Bold/Aileron-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Lovelace.otf") format("opentype");
}
@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Bold/Mackay-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Bold/Poppins-Bold.ttf") format("truetype");
}